<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Signup Form</h3>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" >
            <div class="mb-3">
                <label for="email">Email</label>
                <input type="text" class="form-control" placeholder="Enter email" formControlName="email">
                <div *ngIf="signupForm.get('email').touched && !signupForm.get('email').valid">
                    <div *ngIf="signupForm.get('email').errors.required">
                        Email is required
                    </div>
                    <div *ngIf="signupForm.get('email').errors.email">
                        Email is not Valid
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="email">Password</label>
                <input type="text" class="form-control" placeholder="Enter password" formControlName="password">
                <div *ngIf="signupForm.get('password').touched && !signupForm.get('password').valid">
                    <div *ngIf="signupForm.get('password').errors.required">
                        Password is required
                    </div>
                    
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" [disabled]="!signupForm.valid">Signup</button>
            </div>
        </form>
    </div>
</div>